* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.5;
}

html {
    font-family: 'Lucida Sans', sans-serif;
}

.fltgray50 {
    filter: grayscale(50%);
}

h2 {
    margin: 10px 0;
    font-weight: 400;
    font-size: 18px;
}

p {
    margin: 18px 0;
    font-size: 18px;
}

span {
    background-color: #000;
    color: #fff;
    padding: 2px 8px;
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 400;
}

img {
    margin-top: 16px;
    /* vertical-align: middle; */
    width: 100%;
    filter: grayscale(50%);
}

#header-nav-bar {
    width: 100%;
    height: 54.5px;
    background-color: #000;
    padding: 8px 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-bar {
    flex: 1;
    text-align: center;
    padding: 8px 16px;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.nav-bar:hover,
.infomation input:last-child:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

#head-img {
    background: url("/accset/img/imghead/head.jpg") center / cover no-repeat;
    min-height: 704px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: relative;
    text-align: center;
}
#head-img .adress-store,
#head-img .open-time
 {
    padding: 12px 24px;
    margin-top: 45%;   
}

#head-img .adress-store p,
#head-img .open-time p {
    background-color: #000;
    font-size: 18px;
    padding: 0 8px;
}


.name-store h1 {
    font-size: 90px;
    font-weight: 5;
    font-style: italic;
}

.name-store h1:hover,
#head-img p:hover {
    transform: scale(1.1);
}


#page-content {
    color: #000;
    background-color: #fdf5e6!important;
}


.container {
    padding: 0.18px 16px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.head-title {
    margin: 10px 0;
    padding: 64px 0;
    text-align: center;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
}


#page-about p {
    font-weight: 50;
}

#page-about .slogan {
    margin: 16px;
    padding: 0.18px 16px;
    border-left: 6px solid #ccc;
}

.menu-list {
    padding: 8px 16px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    position: relative;
}

.menu-list .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 15px;
    background-color: grey;
    transition: all 0.3s ease;
}

.menu-tab {
    flex: 1;
    text-decoration: none;
    border: 1px solid #dfc7c7;
}

.menu-tab:hover {
    background-color: #616161;
    color: #fff;
    opacity: 0.5;
}



.menu-drink {
    background-color: #f9f5ee;
    color: #000;
}


.menu {
    padding: 48px 16px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.menu p {
    color: #757575;
}

.food-list {
    display: none; 
}

.active-tab {
    background-color: #616161;
    color: #fff;
}

.active-list {
    display: block;
}


.infomation {
    display: flex;
    flex-direction: column;
}

.infomation input {
    padding: 16px 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.infomation input:last-child {
    width: 30%;
    background-color: #000;
    color: #fff;
}

#footer {
    padding: 48px 0;
    text-align: center;
    background-color: #f1f1f1;
    border-top: 2px solid #333;
}

#footer p a{
    color: #333;
}
#footer p a:hover {
    color: #4CAF50;
}
